# secrets
.env
.env.*
!.env.example

channelUsageReport.json
*.log

# deps
node_modules/
node_modules/package-lock.json # this might be overcompensation lol

# runtime
npm-debug.log*
.npm/

# editors / os
.vscode/
.idea/
.DS_Store
Thumbs.db

deploy.sh

